# import

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import OneHotEncoder

# load the dataset

In [4]:
df = pd.read_csv('dataset.csv')
df = df[['Date' , 'HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]

In [5]:
df= pd.get_dummies(df, columns=['FTR','HTR'])

In [6]:
df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,...,HY,AY,HR,AR,FTR_A,FTR_D,FTR_H,HTR_A,HTR_D,HTR_H
0,2024-09-01,Kortrijk,St Truiden,1.0,1.0,0.0,1.0,15.0,8.0,4.0,...,1.0,1.0,0.0,0.0,False,True,False,True,False,False
1,2024-09-01,St. Gilloise,Anderlecht,0.0,0.0,0.0,0.0,22.0,10.0,6.0,...,3.0,4.0,0.0,0.0,False,True,False,False,True,False
2,2024-09-01,Gent,Antwerp,1.0,1.0,1.0,1.0,15.0,15.0,8.0,...,4.0,3.0,0.0,0.0,False,True,False,False,True,False
3,2024-09-01,Club Brugge,Cercle Brugge,3.0,0.0,2.0,0.0,21.0,11.0,10.0,...,1.0,1.0,0.0,0.0,False,False,True,False,False,True
4,2024-08-31,Oud-Heverlee Leuven,Standard,2.0,0.0,1.0,0.0,13.0,4.0,4.0,...,4.0,4.0,0.0,0.0,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,2019-07-27,Waasland-Beveren,Club Brugge,1.0,3.0,1.0,1.0,7.0,25.0,2.0,...,3.0,1.0,0.0,0.0,True,False,False,False,True,False
1504,2019-07-27,St Truiden,Mouscron,0.0,1.0,0.0,1.0,10.0,10.0,4.0,...,2.0,4.0,0.0,0.0,True,False,False,True,False,False
1505,2019-07-27,Waregem,Mechelen,0.0,2.0,0.0,1.0,7.0,10.0,2.0,...,3.0,1.0,0.0,0.0,True,False,False,True,False,False
1506,2019-07-27,Cercle Brugge,Standard,0.0,2.0,0.0,0.0,13.0,14.0,5.0,...,2.0,2.0,1.0,0.0,True,False,False,False,True,False
1507,2019-07-26,Genk,Kortrijk,2.0,1.0,0.0,1.0,10.0,8.0,2.0,...,0.0,1.0,0.0,0.0,False,False,True,True,False,False

In [15]:
matches = df.groupby(['HomeTeam','AwayTeam'])[['FTR_A','FTR_D','FTR_H','HTR_A','HTR_D','HTR_H']].sum().reset_index()
matches_stats = df.groupby(['HomeTeam','AwayTeam'])[['FTHG','FTAG','HTHG','HTAG','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']].mean().reset_index()

matches = pd.merge(matches, matches_stats, on=['HomeTeam','AwayTeam'])
matches['total_matches'] = matches['FTR_A'] + matches['FTR_D'] + matches['FTR_H']
matches

,HomeTeam,AwayTeam,FTR_A,FTR_D,FTR_H,HTR_A,HTR_D,HTR_H,FTHG,FTAG,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,total_matches
0,Anderlecht,Antwerp,1,1,4,0,5,1,1.000000,0.500000,...,4.666667,10.333333,11.833333,5.666667,4.000000,2.333333,3.166667,0.333333,0.333333,6
1,Anderlecht,Beerschot VA,0,0,2,0,0,2,3.000000,1.000000,...,2.500000,9.000000,15.500000,6.500000,2.500000,2.000000,3.500000,0.000000,0.000000,2
2,Anderlecht,Cercle Brugge,1,0,5,0,1,5,1.833333,0.500000,...,4.666667,8.500000,15.833333,5.666667,4.666667,0.833333,2.666667,0.166667,0.166667,6
3,Anderlecht,Charleroi,1,1,3,0,2,3,1.800000,0.400000,...,2.000000,8.400000,16.000000,7.400000,4.600000,0.600000,2.600000,0.000000,0.000000,5
4,Anderlecht,Club Brugge,3,2,1,2,3,1,0.833333,1.166667,...,3.833333,10.666667,14.833333,4.333333,4.500000,1.000000,2.833333,0.000000,0.166667,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,Westerlo,Seraing,0,1,0,0,0,1,2.000000,2.000000,...,2.000000,10.000000,10.000000,5.000000,2.000000,0.000000,1.000000,0.000000,0.000000,1
438,Westerlo,St Truiden,1,2,0,1,1,1,2.333333,2.666667,...,5.000000,6.666667,11.000000,6.333333,3.000000,3.000000,2.333333,0.000000,0.000000,3
439,Westerlo,St. Gilloise,1,0,2,0,1,2,3.000000,2.666667,...,7.333333,10.333333,11.333333,4.666667,6.666667,2.666667,2.000000,0.000000,0.000000,3
440,Westerlo,Standard,0,1,2,0,2,1,3.000000,2.000000,...,5.333333,8.333333,11.000000,4.333333,6.000000,1.333333,2.666667,0.000000,0.333333,3
441,Westerlo,Waregem,0,0,1,0,0,1,2.000000,0.000000,...,3.000000,12.000000,11.000000,5.000000,12.000000,3.000000,3.000000,0.000000,0.000000,1

In [14]:
teams = df['HomeTeam'].unique()
match = []
for team in teams.range(1): 
    home_team = np.random.choice(teams)
    away_team = np.random.choice(teams)
    if home_team != away_team:
        match.append([home_team, away_team])
    else:
        match.append([home_team, np.random.choice(teams)])
    
match

AttributeError: 'numpy.ndarray' object has no attribute 'range'

       HomeTeam       AwayTeam
0    Anderlecht        Antwerp
1    Anderlecht   Beerschot VA
2    Anderlecht  Cercle Brugge
3    Anderlecht      Charleroi
4    Anderlecht    Club Brugge
..          ...            ...
437    Westerlo        Seraing
438    Westerlo     St Truiden
439    Westerlo   St. Gilloise
440    Westerlo       Standard
441    Westerlo        Waregem

[442 rows x 2 columns]